.title-block {
    display: inline-block;
    font-size: 2em;
    color: #213892;
    vertical-align: middle;
}

.title-block-row {
    font-size: 0.4em;
    color: #e01010;
    vertical-align: middle;
    letter-spacing: 2px;
}

main {
    background-color: #eef;
    padding-bottom: 50px;
}
#main-container {
    max-width: 1024px;
    margin: auto;
    padding-top: 10px;
}

.product-container {
    background-color: #fff;
    border-bottom: 2px dashed #eef;
    padding: 20px;
    border-radius: 10px;
}

.checkbox-list>.checkbox input {
    margin-right: 15px;
}

.filter-column {
    padding-right: 30px;
}

.filter-toggle-row {
    padding: 5px 5px 5px 15px;
    border: 2px solid #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

#filter-container {
    margin-bottom: 30px;
}

.btn-orange {
    background-color: #f5a450;
}

.btn-success {
    color: #111;
}

#filter-container .form-group>label {
    font-weight: bold;
}

.inline-select {
    display: inline-block;
    width: auto;
}

#page-select > div {
    padding: 10px;
}

#btn-page-counter {
    color: #111;
    background-color: #fff;
}

.product-price {
    font-size: 42px;
    color: #108622;
    letter-spacing: 2px;
}

.product-rrp {
    color: #d82424;
    text-decoration: line-through;
}

.product-price:after,.product-rrp:after {
    content: "€"; 
}

.product-rrp-percentage {
    
    color: #108622;
}

.font-medium {
    font-size: 22px;
}

.product-container div {
    text-align: center;
}

.product-container ul {
    text-align: left;
}

.buffer-bottom-small {
    margin-bottom: 30px;
}

.buffer-top-small {
    margin-top: 30px;
}

.btn-right {
    margin-left: auto;
    min-width: 200px;
    float: right;
}

.undo {
    margin: 10px 0px;
    border: 2px solid #fff;
    text-align: center;
}

.undo > a {
    margin :auto;
}

html, body, main, #app {
    min-height: 100vh;
}

#message-container {
    text-align: center; 
    padding: 100px 0px; 
    margin-top: 50px; 
    background-color: #fff; 
    font-size: 1.1em;
}

.fav-number {
    padding-left: 15px;
    color: #3490dc;
    margin-left: auto;
    position: relative;
    cursor: help;
}

.fav-number-tooltip {
    padding: 10px;
    display: none;
    position: absolute;
    width: 300px;
    left: -100px;
    margin-top: 5px;
}

.fav-number:hover > .fav-number-tooltip {
    display: block;
}

.friends-container {
    background-color: #fff;
    padding: 20px;
    padding-bottom: 50px;
}

.friends-container .alert {
    margin-top: 0px;
    margin-bottom: 0px;
}

.copy-product-container {
    margin-top: -7px;
    margin-left: 5px;
}

.product-share-row {
    padding-right: 20px;
}